.basketBg {
    background-color: #e9eaee;
}
.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
    padding: 20px 0;
}
@media (max-width: 768px) {
    .wrapper {
        margin-top: 80px;
        padding: 15px 0;
    }
}
